@import "tailwindcss";

@theme {
  --color-navy: #1B3A6B;
  --color-navy-dark: #122b52;
  --color-gold: #C9A84C;
  --color-gold-hover: #b59540;
}

@layer base {
  body {
    background-color: #f8fafc; /* bg-slate-50 */
    color: #1e293b; /* text-slate-800 */
  }
}
