@import "tailwindcss";

@theme {
  --color-navy: #111111; /* Near black for text or dark elements */
  --color-navy-dark: #000000; /* Pure black */
  --color-gold: #b2ff00; /* Parrot Green */
  --color-gold-hover: #9ee600; /* Darker Parrot Green */

  --font-sans: var(--font-inter), sans-serif;
  --font-display: var(--font-space), sans-serif;
}

@layer base {
  body {
    background-color: #ffffff; /* White background */
    color: #111111; /* Dark text */
  }
}


